<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="adenson">
			<section name="loggerSettings" type="Adenson.Configuration.XmlSectionHandler, Adenson.Core"/>
		</sectionGroup>
	</configSections>
	
	<appSettings>
		<add key="Test1" value="Test1"/>
		<add key="Test2" value="2"/>
	</appSettings>
	
	<connectionStrings>
		<add name="Default" connectionString="Data Source=(local);Initial Catalog=TEST;Integrated Security=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<adenson>
		<loggerSettings />
	</adenson>
</configuration>