<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="adenson">
			<section name="testSettings" type="Adenson.Configuration.XDocumentSectionHandler, Adenson.Core"/>
			<section name="logSettings" type="Adenson.Log.SettingsConfiguration, Adenson.Core"/>
		</sectionGroup>
	</configSections>
	
	<appSettings>
		<add key="Test1" value="Test1"/>
		<add key="Test2" value="2"/>
	</appSettings>
	
	<connectionStrings>
		<add name="Default" connectionString="Data Source=(local);Initial Catalog=TEST;Integrated Security=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
	<adenson>
		<testSettings/>
		<logSettings/>
	</adenson>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory">
				<specifiedPickupDirectory pickupDirectoryLocation=""/>
			</smtp>
		</mailSettings>
	</system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
